.backImage {
  background-image: url(./components/sky1.jpg);
  background-repeat: no;
  background-size: cover;
}
.allContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 85%;
}
.header {
  background-color: rgb(207, 238, 242);
  border: 1px solid black;
  width: auto;
  font-size: 32px;
  padding: 8px;
  border-radius: 12px;
  padding-left: 16px;
}
.container {
  background-color: rgb(167, 202, 212);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 32px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 12px;
  width: 70%;
  margin: 96px 0;
}
.newTask {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 32px 0 56px 0;
}
.newInput {
  width: 40%;
  font-size: 24px;
  margin: 0 16px;
  border-radius: 12px;
}
.btn {
  font-size: 22px;
  padding: 4px;
  border-radius: 12px;
  border: 2px solid black;
}
.btn:hover {
  background-color: rgb(53, 196, 206);
  color: rgb(255, 255, 255);
}
.btn:active {
  background-color: rgb(10, 37, 79);
}
