.allContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header {
  background-color: rgb(209, 215, 215);
  border: 1px solid black;
  width: auto;
  font-size: 32px;
  padding: 8px;
  border-radius: 12px;
}
.container {
  background-color: rgb(192, 188, 188);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 32px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 12px;
  width: 70%;
  margin-top: 32px;
}
.newTask {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}
.newInput {
  width: 40%;
  font-size: 24px;
  margin: 0 16px;
  border-radius: 12px;
}
.btn {
  font-size: 22px;
  padding: 4px;
  border-radius: 12px;
  border: 2px solid black;
}
.btn:hover {
  background-color: rgb(100, 108, 108);
  color: rgb(239, 241, 243);
}
.btn:active {
  background-color: rgb(48, 47, 47);
}
